<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>{{titulo}}</h5>
                </div>
                <div class="card-body">
                    {{#if editarDescricao}}
                    <form action="/cadastrar/os" method="POST">
                    {{else}}
                    <form action="/cadastrar/atribuir/os" method="POST">
                    {{/if}}
                        <input type="hidden" name="idOs" value="{{idOs}}"> <!-- Campo oculto com o ID da OS -->

                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            {{#if editarDescricao}}
                            <textarea id="descricao" name="descricao" class="form-control" rows="4" placeholder="Digite a descrição da OS..." required></textarea>
                            {{else}}
                            <textarea id="descricao" name="descricao" class="form-control" rows="4" placeholder="Digite a descrição da OS..." required disabled>{{descricao}}</textarea>
                            {{/if}}
                        </div>

                        {{#if (eq tipoUsuario "TECNICO")}}
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="autoAtribuicao" name="tecnicoId" value="{{usuarioId}}">
                                <label class="form-check-label" for="autoAtribuicao">Auto Atribuição</label>
                            </div>
                        {{else if (eq tipoUsuario "ADMINISTRADOR")}}
                            <div class="form-group">
                                <label for="tecnico">Atribuir a Técnico</label>
                                <select id="tecnico" name="tecnicoId" class="form-control">
                                    {{#each tecnicos}}
                                        <option value="{{this.id}}">{{this.nome}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        {{/if}}

                        <button type="submit" class="btn btn-success mt-3">{{botao}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
