<div class="container mt-5"></div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Editar OS</h5>
                </div>
                <div class="card-body">
                    <form id="formCadastroOs" method="POST"> <!-- ID atualizado -->
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea id="descricao" name="descricao" class="form-control" rows="4" placeholder="Digite a descrição da OS..." required>{{os.descricao}}</textarea>
                        </div>

                        {{#if (eq tipoUsuario "ADMINISTRADOR")}}
                            <div class="form-group">
                                <label for="tecnico">Atribuição</label>
                                <select id="tecnico" name="tecnicoId" class="form-control">
                                    <option value="{{os.tecnicoId}}" selected>{{os.tecnico.nome}}</option>
                                    {{#each tecnicos}}
                                        <option value="{{this.id}}">{{this.nome}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        {{/if}}

                        {{#if isNotPadrao}}
                            <div class="form-group mb-3">
                                <label for="local" class="form-label">Prioridade</label>
                                <select class="form-control" id="prioridade" name="prioridade" required>
                                    <option value="1" {{#if (eq os.prioridade 1)}}selected{{/if}}>Nível 1</option>
                                    <option value="2" {{#if (eq os.prioridade 2)}}selected{{/if}}>Nível 2</option>
                                    <option value="3" {{#if (eq os.prioridade 3)}}selected{{/if}}>Nível 3</option>
                                </select>
                            </div>
                        {{/if}}

                        <div class="form-group mb-3">
                            <label for="local" class="form-label">Local</label>
                            <select class="form-control" id="local" name="local_os" required>
                                <option value="{{os.local_os}}" selected>{{os.local_os}}</option>
                                <option value="Prefeitura">Prefeitura</option>
                                <option value="Caneco">Caneco</option>
                                <option value="PoupaTempo">Poupa Tempo</option>
                                <option value="Cemiterio">Cemitério</option>
                                <option value="Almoxarifado">Almoxarifado</option>
                                <option value="Cras">CRAS</option>
                                <option value="Sec. Saude">Sec. de Saúde</option>
                                <option value="Sec. Esporte">Sec. de Esporte</option>
                                <option value="Sec. MeioAmbiente">Sec. de Meio Ambiente e Agronegócio</option>
                                <option value="Sec. Obras">Sec. de Planejamento de Obras e Serviços</option>
                                <option value="Sec. Social">Sec. de Promoção e Desenvolvimento Social</option>
                                <option value="Sec. Educacao">Sec. de Educação</option>
                                <option value="Escola Capitão">Escola Capitão</option>
                                <option value="Escola Maria Mendes">Escola Maria Mendes</option>
                                <option value="Escola Marilda Garcez">Escola Marilda Garcez</option>
                                <option value="Creche">Creche</option>
                                <option value="ArcoIris">Arco Íris</option>
                                <option value="UBS Palha">UBS Palha</option>
                                <option value="UBS Palha">PSF União</option>
                                <option value="ESF Figueira">PSF Figueira</option>
                                <option value="PSF Porteira">PSF Porteira</option>
                                <option value="Hospital">Hospital Municipal</option>
                                <option value="Outro">Outro...</option>
                            </select>
                        </div> 

                        <button type="submit" class="btn btn-success mt-3">{{botao}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('formCadastroOs').addEventListener('submit', function(event) {
        // Prevenir o comportamento padrão do formulário
        event.preventDefault();

        function getIdFromUrl() {
            const url = window.location.href;
            const parts = url.split('/');

            return parts[parts.length - 1]; // Assume que o ID da OS está no final da URL
        }

        console.log(getIdFromUrl())

        // Obter os dados do formulário
        const formData = new FormData(event.target);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        const idOs = getIdFromUrl()

        // Adicionar o ID do usuário logado aos dados
        // Configurar a instância do Axios

        // Enviar a requisição POST
        if (window.confirm('Confirmar a edição desta OS?')) {
            axios.put(`/cadastrar/os/editar/${idOs}`, data)
                .then(response => {
                    // Manipular a resposta bem-sucedida
                    window.alert(response.data.message);
                    window.location.href = "/vizualizar/todas-os"//window.location.href.split('?')[0] + '?';
                    // Você pode adicionar lógica para limpar o formulário ou redirecionar o usuário aqui
                })
                .catch(error => {
                    // Manipular erros
                    console.error('Erro ao editar OS:', error);
                    window.alert("Erro ao editar OS!")
                    // Você pode adicionar lógica para exibir uma mensagem de erro ao usuário aqui
                });
        } else {
            console.log('Operação de edição cancelada.');
        }        
    });
</script>