<div class="container mt-4">
    <h1>Painel de OS's</h1>
    <div class="row">
        {{#if ordensDeServico}}
            {{#each ordensDeServico}}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white">
                        {{this.titulo}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{this.descricao}}</p>
                        <p class="card-text"><strong>Status:</strong> {{this.status_os}}</p>
                        {{#if this.tecnico.nome}}
                            <p class="mt-2"><strong>Técnico:</strong> {{this.tecnico.nome}}</p>
                        {{else}}
                            <p class="mt-2"><strong>Técnico:</strong> Não atribuída</p>
                        {{/if}}
                        <p><strong>Data:</strong> {{formatarData this.data_criacao}}</p>
                        <p><strong>Requerente:</strong> {{this.usuario.nome}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        {{#if @root.isAdmin}}
                            <a href="/vizualizar/atribuir/{{this.id}}" class="btn btn-sm btn-primary">Atribuir</a>
                        {{/if}}
                        <button onclick="cancelarOs({{this.id}})" class="btn btn-sm btn-danger">Cancelar</button>
                        <button onclick="concluirOs({{this.id}})" class="btn btn-sm btn-success">Concluir</button>
                    </div>
                </div>
            </div>
            {{/each}}
        {{else}}
            <div class="col-12">
                <p>Nenhuma ordem de serviço encontrada.</p>
            </div>
        {{/if}}
    </div>
</div>
    
<script>
    const api = axios.create({
        baseURL: 'http://192.168.2.234:8080',
        timeout: 10000,
        headers: {
            'Content-Type': 'application/json',
        },
    });

    function concluirOs(id) {
        if (window.confirm('Tem certeza que deseja concluir esta OS?')) {
            api.post(`/os/concluir/${id}`)
                .then(response => {
                    window.alert(response.data.mensagem);
                    // Forçar a atualização da página
                    window.location.href = "/vizualizar/todas-os"//window.location.href.split('?')[0] + '?';
                })
                .catch(error => {
                    console.error('Erro ao concluir OS:', error);
                    alert('Ocorreu um erro ao concluir a OS.');
                });
        } else {
            console.log('Operação de conclusão cancelada.');
        }
    }

    function cancelarOs(id) {
        if (window.confirm('Tem certeza que deseja cancelar esta OS?')) {
            api.post(`/os/cancelar/${id}`)
                .then(response => {
                    window.alert(response.data.mensagem);
                    window.location.href = "/vizualizar/todas-os";
                })
                .catch(error => {
                    console.error('Erro ao cancelar OS:', error);
                    alert('Ocorreu um erro ao cancelar a OS.');
                });
        } else {
            console.log('Operação de cancelamento cancelada.');
        }
    }

    setInterval(() => {
        window.location.reload();
    }, 30000);
</script>
