<style>
    .observacoes-textarea {
    width: 100%; /* Ajusta para o tamanho total do card */
    resize: none; /* Impede o redimensionamento */
    background-color: transparent; /* Torna o fundo transparente para combinar com o card */
}

</style>

<div class="container mt-4">
    <h1>Histórico de OS's</h1>
    <div class="row">
        {{#if ordensDeServico}}
            {{#each ordensDeServico}}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white">
                        {{this.titulo}}
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">{{this.descricao}}</p>
                        <p class="card-text"><strong>Status:</strong> {{this.status_os}}</p>
                        {{#if this.prioridade}}
                            <p class="card-text"><strong>Prioridade:</strong> Nível {{this.prioridade}}</p>    
                        {{else}}                        
                            <p class="card-text"><strong>Prioridade:</strong> Não definida</p>    
                        {{/if}}

                        {{#if this.tecnico.nome}}
                            <p class="mt-2"><strong>Técnico:</strong> {{this.tecnico.nome}}</p>
                        {{else}}
                            <p class="mt-2"><strong>Técnico:</strong> Não atribuída</p>
                        {{/if}}
                        <p><strong>Data:</strong> {{formatarData this.data_criacao}}</p>
                        <p><strong>Requerente: </strong>{{this.usuario.nome}}</p>
                        <p><strong>Data de Fechamento: </strong>{{formatarData this.data_fechamento}}</p>
                        <p><strong>Local: </strong>{{this.local_os}}</p>
                        {{#if this.observacao}}
                            <p><strong>Observações: </strong></p>
                            <textarea class="observacoes-textarea mb-3" readonly>{{this.observacao}}</textarea>
                        {{/if}}
                        
                        <!-- Botão com margem automática no topo, margem inferior, e largura automática -->
                        <button onclick="reabrirOs({{this.id}})" class="btn btn-primary mt-auto w-auto">Re-abrir</button>
                    </div>
                </div>
            </div>
            {{/each}}
        {{else}}
            <div class="col-12">
                <p>Nenhuma ordem de serviço cancelada ou finalizada.</p>
            </div>
        {{/if}}
    </div>
</div>

<script>
    const userTipo = "{{user.tipo}}"

    function reabrirOs(id) {
        if (window.confirm('Tem certeza que deseja re-abrir esta OS?')) {
            axios.post(`/cadastrar/os/reabrir/${id}`)
                .then(response => {
                    window.alert(response.data.message);
                    if (userTipo == "PADRAO") {
                        window.location.href = "/vizualizar/os-cadastradas";
                    } else {
                        window.location.href = "/vizualizar/todas-os";
                    }
                })
                .catch(error => {
                    console.error('Erro ao re-abrir OS:', error);
                    alert('Ocorreu um erro ao re-abrir a OS.');
                });
        } else {
            console.log('Operação de re-abrir cancelada.');
        }
    }
</script>
