<div class="container mt-4">
    <div class="container mt-4">
        <h1>Gerenciar Usuários</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {{#each listaUsuarios}}
            <tbody>
                <!-- Exemplo de linha de usuário -->
                <tr>
                    <td>{{this.nome}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.tipo}}</td>
                    <td>
                        <a href="/vizualizar/editar/{{this.id}}" class="btn btn-primary btn-edit">Editar</a>
                        <button onclick="deletarUsuario({{this.id}})" class="btn btn-danger btn-delete">Excluir</button>
                    </td>
                </tr>
                <!-- Adicione mais linhas aqui -->
            </tbody>
            {{/each}}
        </table>
    </div>
</div>

<script>
    const api = axios.create({
        baseURL: '{{baseURL}}',
        timeout: 10000,
        headers: {
            'Content-Type': 'application/json',
        },
    });

    function deletarUsuario(id) {
        if (window.confirm('Tem certeza que deseja deletar este usuário?')) {
            api.delete(`/usuario/deletar/${id}`)
                .then(response => {
                    window.alert(response.data.mensagem);
                    // Forçar a atualização da página
                    window.location.href = window.location.href.split('?')[0] + '?';
                })
                .catch(error => {
                    console.error('Erro ao deletar usuário:', error);
                    alert('Ocorreu um erro ao deletar o usuário.');
                });
        } else {
            console.log('Operação de conclusão cancelada.');
        }
    }

    function editar(id) {
        if (window.confirm('Tem certeza que deseja cancelar esta OS?')) {
            api.post(`/os/cancelar/${id}`)
                .then(response => {
                    window.alert(response.data.mensagem);
                    window.location.href = window.location.href.split('?')[0] + '?';
                })
                .catch(error => {
                    console.error('Erro ao cancelar OS:', error);
                    alert('Ocorreu um erro ao cancelar a OS.');
                });
        } else {
            console.log('Operação de cancelamento cancelada.');
        }
    }
</script>
