<div class="container mt-4">
    <h1>OS's atribuídas a você</h1>
    <div class="row">
        {{#if ordensDeServico}}

            {{#each ordensDeServico}}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white">
                        {{this.titulo}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{this.descricao}}</p>
                        <p class="card-text"><strong>Status:</strong> {{this.status_os}}</p>
                        <p class="mt-2"><strong>Técnico:</strong> {{this.tecnico.nome}}</p>
                        <p><strong>Data:</strong> {{formatarData this.data_criacao}}</p>
                        <p><strong>Requerente: </strong>{{this.usuario.nome}}</p>
                        <p><strong>Local: </strong>{{this.local_os}}</p>

                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="/vizualizar/finalizar-os/{{this.id}}" class="btn btn-sm btn-success">Concluir</a> 
                    </div>
                </div>
            </div>
            {{/each}}
        {{else}}
            <div class="col-12">
                <p>Nenhuma ordem de serviço atribuída a você.</p>
            </div>
        {{/if}}
    </div>
</div>

<script>
    // Configuração do Axios
    const api = axios.create({
        baseURL: '{{baseURL}}',
        timeout: 10000,
        headers: {
            'Content-Type': 'application/json',
        },
    });


    setInterval(() => {
            window.location.reload();
    }, 30000);
</script>


