<div class="container mt-4">
    <h1>OS's registradas por você</h1>
    <div class="row">
        {{#if ordensDeServico}}
            {{#each ordensDeServico}}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white">
                        {{this.titulo}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{this.descricao}}</p>
                        <p class="card-text"><strong>Status:</strong> {{this.status_os}}</p>
                        {{#if this.tecnico}}
                            {{#if this.tecnico.nome}}
                                <p class="mt-2"><strong>Técnico: </strong>{{this.tecnico.nome}}</p>
                            {{else}}
                                <p class="mt-2"><strong>Técnico: </strong> Nome não disponível</p>
                            {{/if}}
                        {{else}}
                            <p class="mt-2"><strong>Técnico:</strong> Não atribuída</p>
                        {{/if}}
                        <p><strong>Data:</strong> {{formatarData this.data_criacao}}</p>
                        
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        {{#if @root.isAdmin}}
                            <a href="/os/{{this.id}}" class="btn btn-sm btn-primary">Atribuir</a>
                        {{/if}}
                        <button onclick="cancelarOs({{this.id}})" class="btn btn-sm btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>
            {{/each}}
        {{else}}
            <div class="col-12">
                <p>Nenhuma ordem de serviço registrada por você.</p>
            </div>
        {{/if}}
    </div> <!-- Fechamento correto da div row -->
</div>

<script>
    const api = axios.create({
        baseURL: 'http://localhost:8080',
        timeout: 10000,
        headers: {
            'Content-Type': 'application/json',
        },
    });

    function cancelarOs(id) {
        if (window.confirm('Tem certeza que deseja cancelar esta OS?')) {
            api.post(`/os/cancelar/${id}`)
                .then(response => {
                    window.alert(response.data.mensagem);
                    // Forçar a atualização da página
                    window.location.href = '/vizualizar/os-cadastradas';
                })
                .catch(error => {
                    console.error('Erro ao cancelar OS:', error);
                    alert('Ocorreu um erro ao cancelar a OS.');
                });
        } else {
            console.log('Operação de cancelamento cancelada.');
        }
    }
</script>
